.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.body-width {
  width:100%;
}

.card{
  height:100%;
  width:100%;
  margin-top: 300px;
  margin-left: 50px;
}

.search{
    height: 300px;
    background: url(https://picsum.photos/1920/1080?image=871&?blur) no-repeat center center fixed;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.radioSelector{
  width:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -0.00005px;
  margin-left: -170px;
}



body {

}